.gridOne {
    display: grid;
    width: 500px;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 15px;
    background-color: aliceblue;
}

.gridTwo{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 40vw;
}

.red{   
    background-color: red;

}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.gridThree{
    display: grid;
    grid-row: 2;
    grid-template-rows: 1fr 3fr;

    width:500px;
    height:300px;
    
    background-color: aliceblue;
}

.gridThree img{
    width:500px;
    height:225px;
}

.gridFour{
    width: 500px;
    background-color: green;
    display: grid;
    grid-template-rows:1fr 1fr;
    font-weight: 900;
}

#Four_ID{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.gridFive{
    width: 500px;
    background-color: aliceblue;
    display: grid;
    grid-template-rows:1fr 1fr;
    font-weight: 900;
}

#gridFive{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#gridFive img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.gridSix{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width:500px; 
    background-color:lightgray;
}

.gridSix p{
    font-family: 'Permanent Marker', cursive;
}